html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: url("/src/assets/rocket.png"), auto;
}

body {
    background-image: url("../../../src/assets/universe.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: #fff;
    font-family: $font-family;
}

button {
    width: 12rem;
    height: 3rem;
    margin: 0 5rem;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
}
