html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: url('/src/assets/rocket.png'), auto;
}

body {
    background-image: url('../../../src/assets/universe.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: #fff;
    font-family: $font-family;
}
