@media only screen and (max-width: 900px) {
    .container_universe {
        .title {
            font-size: 2rem;
        }
        .container_solaris {
            padding: 0;
            margin: 0;
        }
    }
    .container_buttons {
        position: absolute;
        bottom: 5px;
        width: 100%;
    }
    .container_detail-planet {

        .container_description_info_detail_planet,
        .container_description_detail_planet,
        .container_info_detail_planet {
            font-size: 0.7rem !important;
            top: 30px !important;
            .title_planet {
                font-size: 1.2rem !important;
            }
        }
        .container_description_detail_planet,
        .container_info_detail_planet {
            width: 30% !important;
        }
        .container_description_detail_planet {
            .ml11 {
                margin-top: 0;
            }
        }
    }
}
