@media only screen and (max-width: 900px) {
    .container_universe {
        .title {
            font-size: 2rem;
        }
        .container_solaris {
            padding: 0;
            margin: 0;
        }
    }
    .container_buttons {
        position: absolute;
        bottom: 5px;
        width: 100%;
    }
    .container_detail-planet {

        .container_description_info_detail_planet,
        .container_description_detail_planet,
        .container_info_detail_planet {
            font-size: 0.7rem !important;
            top: 30px !important;
            .title_planet {
                font-size: 1.2rem !important;
            }
        }
        .container_description_detail_planet,
        .container_info_detail_planet {
            width: 30% !important;
        }
        .container_description_detail_planet {
            .ml11 {
                margin-top: 0;
            }
        }
        p{
            margin: 0 !important;
        }
        .container_info_detail_planet, .container_description_detail_planet{
            padding: 2rem !important;
        }

    }
    .letters{
        position: absolute;
        top: 45px;
    }
    .back_button, .next, .prev, .button_moons {
        width: auto;
        bottom: 0;

    }
    .card_moon {
        max-height: 100% !important;
    }

    .container_inscription {
        padding: 1rem;
        h1 {
            font-size: 1.2rem;
        }
        p {
            font-size: 1rem;
        }
        overflow: auto !important;
        width: 100%;
        height: 100%;
    }



}
