.navbar {
    background: rgba(255, 255, 255, 0.04);
    border-radius: 0 0 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border: 1px solid rgba(255, 255, 255, 0.24);
    z-index: 100;
    span {
        color: #fff;
    }
    .nav-link, .navbar-brand, .navbar-toggler {
        cursor: url("/src/assets/galaxy.png"), pointer;
    }
    button {
        width: auto;
    }
    --bs-navbar-toggler-icon-bg:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")

}
