.container_solaris {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    align-content: start;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
}

.title {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 0;
}

.container_planet {
    width: 12.5%;
    height: auto;

    img {
        width: 100%;
        object-fit: contain;
        padding: 0 2rem;
        transition: all 1.5s ease-out;
        &:hover {
            transform: scale(1.5);
            
            cursor: url('/src/assets/rocket_landing.png'), auto;
        }
    }
}

.planet_name {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
}

.sun_universe {
    position: absolute;
    z-index: -1;
    top: -45rem;
    left: -117rem;
}

.container_buttons {
    display: flex;
    justify-content: center;
    padding-top: 5rem;

    button {
        width: 12rem;
         height: 3rem;
        margin: 0 5rem;
        background: rgba(255, 255, 255, 0.04);
        border-radius:16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(1.1px);
        -webkit-backdrop-filter: blur(1.1px);
        transition: transform 0.5s ease-out;
    }

    &.active {
        button {
            transform: translateY(20px); 
        }
    }

}




/* Transitions */

// .fade-enter{
//     opacity: 0;
//  }
//  .fade-exit{
//     opacity: 1;
//  }
//  .fade-enter-active{
//     opacity: 1;
//  }
//  .fade-exit-active{
//     opacity: 0;
//  }
//  .fade-enter-active,
//  .fade-exit-active{
//     transition: opacity 500ms;
//  }